<div class="app-container">
    <h2>ng-start here</h2>
    An Angular app template, with Uber-Simple Implementation of <a href="https://github.com/angular-ui/ui-router" target="_blank">ui-router</a>
     and <a href=" https://material.angularjs.org/latest/" target="_blank">Angular Material</a>, along with basic examples of filters, factories and services.
    <md-content>
        <md-list>
            <md-list-item ng-repeat="item in vm.allItems">
                <p ui-sref="item({itemId:item.ItemId,itemTitle:item.Title})"> {{item.Title}} </p>
                <md-divider ng-if="!$last"></md-divider>
            </md-list-item>
        </md-list>
    </md-content>
</div>